<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <div class="col-md-12">
                <h4><a href="{% url 'create_group' %}">Add Group</a></h4>
                <h4><a href="{% url 'create_student' %}">Add Student</a></h4>
                <h4><a href="{% url 'create_teacher' %}">Add Teacher</a></h4>
                <h1>List of groups</h1>
                <table class="table">
                    <tr>
                        <th>Group name</th>
                        <th>Total number of students</th>
                        <th>Average age of students</th>
                        <th>Max age of students</th>
                        <th>Min age of students</th>
                        <th>Teacher</th>
                    </tr>
                    {% for group_data in groups_data %}
                        <tr>
                            <td>{{group_data.name}}</td>
                            <td>{{group_data.students_count}}</td>
                            <td>{{group_data.students_avg_age}}</td>
                            <td>{{group_data.students_max_age}}</td>
                            <td>{{group_data.students_min_age}}</td>
                            <td>{{group_data.teacher}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </body>
</html>
