<!DOCTYPE html>

<html>
<head>
    <title>Generator users</title>
</head>
<body>
<form action="." method="post">
    <input type="number" required name="number_of_users">

    <input type="submit" value="Generate users">
</form>
<h1>{{number_of_users}} generated users are:</h1>

<ol>

{%for el in range(0, number_of_users)%}

    <li>{{users[el]}}</li>
{%endfor%}

</ol>

</body>
</html>