
<!DOCTYPE html>
<html>
    <head>
        <title>Requirements</title>

    </head>
    <body>
        <div>
            <h1><b>Requirements:</b></h1>
                <ul>
                    {%- for row in content -%}
                        <li><b>{{ row }}</b></li>
                    {%- endfor -%}
                </ul>
        </div>
    </body>
</html>






</body>
</html>