<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <div class="col-md-10">
                <h2>List of Students</h2>
                <table class="table">
                    <tr>
                        <th> id </th>
                        <th>Name</th>
                        <th>Group</th>
                    </tr>
                    {% for student in students %}
                        <tr>
                            <td>{{student.id}}</td>
                            <td>{{student.name}}</td>
                            <td>{{student.group}}</td>
                            <td>
                                <a class ="btn btn-primary" href = "/update_student/{{student.id}}/">Update/Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </body>
</html>
