<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <div class="col-md-10">
                <h1>List of Teachers</h1>
                <div class="text-right">
                    <h4><a class="btn btn-primary" href="{% url 'create_teacher' %}">Add Teacher</a></h4>
                </div>
                <table class="table table-bordered">
                    <tr>
                        <th> id </th>
                        <th>Name</th>
                        <th>Actions</th>
                        <th>Groups</th>
                    </tr>
                    {% for teacher in teachers %}
                        <tr>
                            <td>{{teacher.id}}</td>
                            <td>{{teacher.name}}</td>
                            <td>
                                <a class ="btn btn-outline-dark" href = "{% url 'teacher_upd' teacher.id %}">Update</a>
                                <a class ="btn btn-outline-dark" href = "{% url 'teacher_del' teacher.id %}">Delete</a>
                            </td>
                            <td>
                            {% for group in teacher.groups.all %}
                                {{ group }}
                                {% if not forloop.last %}
                                    ,
                                {% endif %}
                            {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <br>
                <h2><a href = "{% url 'students' %}">List of students</a></h2>
            </div>
        </div>
    </body>
</html>
