<!DOCTYPE html>
<html lang="en">


<form action="." method="POST">
    <input type="number"  name="book_year">

    <input type="submit" value="year filter">

</form>

<form action="." method="POST">
    <input type="number" name="book_genre_id">

    <input type="submit" value="genre">
</form>

<head>
    <meta charset="UTF-8">
    <title>Bookslist</title>
</head>
<body>
<h2>Book list</h2>

<h1>
    <table width="100%">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Year</th>

        </tr>
        {% for book in books %}
            <tr align="center">
                <td>{{book.id}}</td>
                <td>{{book.name}}</td>
                <td>{{book.author_obj.name}}</td>
                <td>{{book.genre_obj.name}}</td>
                <td>{{book.year}}</td>

            </tr>
        {% endfor %}
    </table>
</h1>


</body>
</html>