 <html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="col-md-10">
                <form method="get">
                    <div class="row">
                        <div class="col-md-3">
                            <input class="form-control" type="search" placeholder="First name" name="first_name" value="{{first_name}}">
                            <input class="form-control" type="search" placeholder="Last name" name="last_name" value="{{last_name}}">
                            <input class="form-control" type="search" placeholder="Age" name="age" value="{{age}}">
                        </div>
                            <div class="col-md-10">
                                <input type="submit" class="btn btn-primary" value="Search!">
                            </div>
                    </div>
                </form>
            </div>
            <table class="table">
                <tr>
                    <th>id</th>
                    <th>first_name</th>
                    <th>last_name</th>
                    <th>age</th>
                </tr>
                {% for teacher in teachers %}
                    <tr>
                        <td>{{teacher.id}}</td>
                        <td>{{teacher.first_name}}</td>
                        <td>{{teacher.last_name}}</td>
                        <td>{{teacher.age}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>
